[client]
#password = [your_password]
port = 3306
socket = /tmp/mysql.sock
   
[mysqld]

user= mysql

datadir = /data/mysqldb
port = 3306
socket = /tmp/mysql.sock
character_set_server = utf8mb4
collation_server=utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
explicit_defaults_for_timestamp = true
back_log = 300
max_connections = 2500
max_connect_errors = 50
table_open_cache = 4096
max_allowed_packet = 32M
binlog_cache_size = 4M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 8M
query_cache_type = 0
query_cache_size = 0
thread_stack = 512K
tmp_table_size = 64M
max_heap_table_size = 32M
bulk_insert_buffer_size = 8M
myisam_sort_buffer_size = 8M
myisam_recover
#interactive_timeout = 600
#wait_timeout = 600

key_buffer_size = 8M
read_buffer_size = 8M

lower_case_table_names = 1

optimizer_switch='index_merge_sort_intersection=on,mrr=on,mrr_cost_based=off,mrr_sort_keys=on'
mrr_buffer_size = 8M
join_cache_level =8

# rpl_semi_sync_master_enabled = 1
# rpl_semi_sync_master_timeout = 2000


##################

slow_query_log
slow_query_log_file = /data/mysqlslowlogs/slowquery.log
long_query_time = 0.5
#log-queries-not-using-indexes
skip-name-resolve
# slave-skip-errors = 1032

server-id = 20
log-bin = localhost-bin
expire_logs_days = 60
binlog_format = ROW
log-slave-updates
sync_binlog = 100
binlog_ignore_db = mysql
binlog_ignore_db = test

replicate_ignore_db = mysql
replicate_ignore_db = test

slave_net_timeout = 60
                                        
innodb_buffer_pool_size = 64G
innodb_data_file_path = ibdata1:10M:autoextend
innodb_data_home_dir = /data/mysqldb
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 8M
innodb_log_file_size = 768M
max_binlog_size = 1G
innodb_log_files_in_group = 3
innodb_log_group_home_dir = /data/mysqldb
innodb_max_dirty_pages_pct = 75
innodb_lock_wait_timeout = 60
innodb_write_io_thread = 12
innodb_read_io_thread = 20
innodb_file_per_table = on
innodb_print_all_deadlocks = 1
                                                                   
[mysqldump]
quick
                                              
max_allowed_packet = 32M
default-character-set = utf8mb4 
                                                                   
[mysql]
no-auto-rehash
default-character-set = utf8mb4
prompt = "\u@Mysql-sc-mogoha3 [\d]> "
                                                              
[myisamchk]
key_buffer = 16M
sort_buffer_size = 16M
read_buffer = 8M
write_buffer = 8M
                                                                       
[mysqlhotcopy]
interactive-timeout
                                                            
[mysqld_safe]
open-files-limit = 8192

